html {
  /* height: 100%;
  width: 100%; */
}

body {
  background-color: rgb(40, 41, 45);
  color: rgb(222, 66, 99);
  
}

#galeria {
  background-image: url(/asset/img/festival.jpg);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: bottom;
}

h1 {
  color: rgb(201, 202, 182);
}

.icono {
  color: rgb(222, 66, 99);
}

.lead {
  color: blue;
}


.card-title {
  color: rgb(222, 66, 99);
}

.card {
  background-color: rgb(201, 202, 182);
  color: rgb(40, 41, 45);
}
